<div id="newBudgetModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>New Budget</h2>
        </div>
        
        <form id="newBudgetForm">
            <label for="budgetName">Name:</label>
            <input type="text" class="modal-input" id="budgetName" name="budgetName" required>
        
            <label for="budgetAmount">Budget Amount (£):</label>
            <input type="number" class="modal-input" id="budgetAmount" name="budgetAmount" required>
            
            <div class="modal-row">
                <div class="modal-item">
                    <label for="budgetStartDate">Start Date (optional):</label>
                    <input type="date" class="modal-input" id="budgetStartDate" name="budgetStartDate">
                </div>

                <div class="modal-item">
                    <label for="budgetEndDate">End Date (optional):</label>
                    <input type="date" class="modal-input" id="budgetEndDate" name="budgetEndDate">
                </div>
            </div>

            <label for="sharedWith">Share With:</label>
            <select id="sharedWith" class="modal-input" name="sharedWith">
                <option value="" selected>-- Select Budget Buddy (optional) --</option>
                <option value="lottie">Lottie</option>
                <option value="mam">Gayle</option>
            </select>
        
            <label for="activeBudget">
                <input type="checkbox" id="activeBudget" name="activeBudget">
                Make this my active budget
            </label>
        
            <button type="submit" class="btn">Create Budget</button>
        </form>
    </div>
</div>