<div id="userSearchModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Find Friends</h2>
        </div>
        
        <div class="search input-row" style="width: 100%;">
            <i class="fa fa-search"></i>
            <input id="search-input" type="text" placeholder="Search users..." oninput="filterUsers()">
        </div>
        <div class="friends-list" id="users-list">
        </div>
    </div>
</div>