<%- include('../partials/head') %>
<body>
    <ul>
        <% accounts.forEach((account)=> { %>
            <li>
                <h2>
                    <%= account.name %>
                </h2>
                <p>
                    Some account content
                </p>
            </li>
            <hr />
        <% }) %>
    </ul>
</body>
</html>