.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  /* Modal content styling */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Modal content width 50% */
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
    margin-top: 70px;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Form field styling */
  form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  input[type="date"],
  input[type="number"],
  form select {
    width: 100%; /* Full width for form inputs */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Checkbox styling */
  form label[type="checkbox"] {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  /* Submit Button Styling */
  .btn {
    width: 50%; /* Make button take up 50% of the modal width */
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px; /* Keep the rounded style */
    cursor: pointer;
    margin: 20px auto 0; /* Center the button horizontally and add top margin */
    display: block;
  }
  
  .btn:hover {
    background-color: #368a3d;
  }

  .modal-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .modal-item {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

/* Mobile-specific Styles */
@media (max-width: 768px) {

  .modal-content {
    width: 80%;
  }
}